<template>
  <div class="layout">
    <h1>Create department</h1>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" v-model.trim="name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" v-model.trim="description">
      </div>
      <button type="submit" class="btn btn-primary" @click="post">Submit</button>
      <router-link tag="button" class="btn btn-secondary" to="/departments">Back</router-link>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: '',
      description: ''
    }
  },
  methods: {
    post (e) {
      e.preventDefault()
      const department = {
        name: this.name,
        description: this.description
      }
      this.$http.post('http://localhost:3000/departments', department)
      .then(response => response.json())
      .then(department => { //редирект
       // this.$router.push({ name: 'departmentPage', params: { departmentId: department.id } }); //пушим в роутер - роут (свежесозданный)
       this.$router.push({ path: '/departments' })
      });
    }
  }
}
</script>

<style scoped>
  .layout {
    width: 75%;
  }

  form {
    width: 80%;
  }
</style>
