<template>
  <div class="layout">
    <h1>Department {{ id }}</h1>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" v-model.trim="name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" v-model.trim="description">
      </div>
      <button type="submit" class="btn btn-primary" @click="post">Submit</button>
      <router-link tag="button" class="btn btn-secondary" to="/departments">Back to list</router-link>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      name: '',
      description: '',
      id: this.$router.currentRoute.params['departmentId']
    }
  },
  methods: {
    post (e) {
      e.preventDefault();
      const department = {
        name: this.name,
        description: this.description
      }
      this.$http.put(`http://localhost:3000/departments/${this.id}`, department)
      .then(department => { //редирект
        this.$router.push({path: '/departments' }); //пушим в роутер - роут (свежесозданный)
      });
    }
  },
  created() { //хук
    this.$http.get(`http://localhost:3000/departments/${this.id}`)
      .then(response => response.json())
      .then(department => { //получаем инф-ю об одном department
        this.description = department.description
        this.name = department.name
      })
  }
}
</script>

<style scoped>
  .layout {
    width: 75%;
  }

  form {
    width: 80%;
  }
</style>
