<template>
  <div class="layout">
    <h1>Departments</h1>
    <router-link tag="button" class="btn btn-primary" to="/departments/create">Create</router-link>
     <table class="table border mt-2">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      <tr class="list-group-item-action" v-for="department of departments" :key="department.id">
        <td>
          <router-link tag="span"  :to="{ name: 'departmentPage', params: { departmentId: department.id } }">
            {{ department.name }}
          </router-link>
        </td>
        <td>
          <router-link tag="span"  :to="{ name: 'departmentPage', params: { departmentId: department.id } }">
            {{ department.description }}
          </router-link>
        </td>
      <td><button class="btn btn-secondary" @click="del(department.id)">Delete</button></td>
      </tr>
  </tbody>
</table>

  </div>
</template>

<script>
export default {
  data () {
    return {
      departments: []
    }
  },
  methods: {
    del (id) {
      this.$http.delete(`http://localhost:3000/departments/${id}`)
      .then(response => {
         this.departments = this.departments.filter(department => department.id !== id)
      })
    }
  },
  created() { // хук
    this.$http.get('http://localhost:3000/departments')
      .then(response => {
        return response.json() // без метода .json() response срдержит много лишней инф-ии
      })
      .then(departments => {
        this.departments = departments
      })
  }
}
</script>

<style scoped>
  .layout {
    width: 75%;
  }

  .table {
    width: 80%;
  }

</style>
