<template>
  <div class="layout">
    <h1>Employee</h1>
    <router-link tag="button" class="btn btn-primary" to="/employees/create">Create</router-link>
    <table class="table border mt-2">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Department</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr class="list-group-item-action" v-for="employee of employees" :key="employees.id" >
      <td>
        <router-link tag="span" :key="employees.id" :to="{ name: 'employeePage', params: { employeeId: employee.id } }">
          {{ employee.firstName }}
        </router-link>
      </td>
      <td>
        <router-link tag="span" :to="{ name: 'employeePage', params: { employeeId: employee.id } }">
          {{ employee.lastName }}
        </router-link>
      </td>
      <td>
        <router-link tag="span" :to="{ name: 'employeePage', params: { employeeId: employee.id } }">
          {{ employee.department }}
        </router-link>
      </td>
      <td><button class="btn btn-secondary" @click="del(employee.id)">Delete</button></td>
    </tr>
  </tbody>
</table>

  </div>
</template>

<script>
export default {
  data () {
    return {
      employees: []
    }
  },
  methods: {
    del (id) {
      this.$http.delete(`http://localhost:3000/employees/${id}`)
      .then(response => {
         this.employees = this.employees.filter(employee => employee.id !== id)
      })
    }
  },
  created() { // хук
    Promise.all([ this.$http.get('http://localhost:3000/employees'), this.$http.get('http://localhost:3000/departments') ])
    .then(values => { // values - массив из двух response
      const responseBodyPromises = values.map(response => response.json()) // response.json() - возвращает promise, responseBodyPromises - массив этих promis'ов
      return Promise.all(responseBodyPromises); // нам нужно одновременно работать с результатми обоих promis'ов, поэтому заворачиваем их в еще один promise
     })
     .then(values => {
      const employeesArray = values[0]
      const departmentsArray = values[1]
      for ( let employee of employeesArray ) {
        const department = departmentsArray.find( department => employee.departmentId === department.id )
        employee.department = department ? department.name : null
      }

      this.employees = employeesArray
     })
  }
}
</script>

<style scoped>
  .layout {
    width: 75%;
  }

  .table {
    width: 80%;
  }
</style>

