<template>
  <div class="layout">
    <h1>Еmployee {{ id }}</h1>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" v-model="firstName">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" v-model="lastName">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Department</label>
        <select id="inputState" class="form-control" v-model="departmentId">
          <option v-for="department of departments" :key="department.id" :value="department.id">{{ department.name }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" @click="post">Submit</button>
      <router-link tag="button" class="btn btn-secondary" to="/departments">Back</router-link>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      firstName: '',
      lastName: '',
      departments: [],
      departmentId: null,
      id: this.$router.currentRoute.params['employeeId']
    }
  },
  methods: {
    post (e) {
      e.preventDefault()
      const employee = {
        firstName: this.firstName,
        lastName: this.lastName,
        departmentId: this.departmentId
      }
      this.$http.post(`http://localhost:3000/employees/${this.id}`, employee)
      .then(response => response.json())
      .then(employee => { //редирект
       this.$router.push({ path: '/employees' }); //пушим в роутер - роут (свежесозданный)
      });
    }
  },
  created() {
    Promise.all([ this.$http.get(`http://localhost:3000/employees/${this.id}`), this.$http.get(`http://localhost:3000/departments`) ])
    .then(values => { // values - массив из двух response
      const responseBodyPromises = values.map(response => response.json()) // response.json() - возвращает promise, responseBodyPromises - массив этих promis'ов
      return Promise.all(responseBodyPromises); // нам нужно одновременно работать с результатми обоих promis'ов, поэтому заворачиваем их в еще один promise
     })
     .then(values => {
      const employee = values[0]
      const departmentList = values[1]

      this.departments = departmentList
      this.firstName = employee.firstName
      this.lastName = employee.lastName
      this.departmentId = employee.departmentId
     })
  }
}
</script>

<style scoped>
  .layout {
    width: 75%;
  }

  form {
    width: 80%;
  }
</style>
