<template>
  <div class="container p-4">
    <ul class="nav flex-sm-column border rounded mr-3">
    <router-link tag="li" class="nav-item" exact to="/departments" active-class="active">
      <a class="nav-link p-3">Departments</a>
    </router-link>
    <router-link tag="li" class="nav-item" to="/employees" active-class="active">
      <a class="nav-link p-3">Employees</a>
    </router-link>
    </ul>
    <router-view></router-view>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.container {
  display: flex;
  height: 100%;
}

.nav {
  width: 25%;
  padding: 0;
  align-self: flex-start;
}

router-view {
  width: 57%;
}

</style>
